/* Typografie */
html {
    font-size: 16px; 
}

body {
    color: #000014;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
}

h1 {
    font-family: "Short Stack";
    font-size: 2.44125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    text-transform: uppercase;
}

h2 {
    font-family: "Short Stack";
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: uppercase;
}

h3 {
    font-family: "Source Sans Pro";
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 300;
    line-height: 125%;
}

small{
    font-family: "Source Sans Pro";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

/*Layout*/
.main-grid{
    display: grid;
    grid-template-columns: 100%;
    margin: 0.625rem;
    height: 100%;
    align-content: space-between;
}

/* Navigation Mobil*/
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo img{
    width: 2em;
}

#hamburger-toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.fa-bars{
    font-size: 2.5em;
}

.fa-bars:hover{
    color:#FDFDFF;
}

/*Navigation Mobil Curtain Menu*/
.curtain-menu{
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    background-color: rgb(252, 193, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

#close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.fa-xmark{
    font-size: 3em;
    margin-top: 0.2em;
    margin-right: 0.4em;
}

.fa-xmark:hover, .fa-xmark:focus{
    color: #FDFDFF;
}

.overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.overlay-content a{
    text-decoration: none;
    font-family: "Short Stack";
    font-size: 1.95313rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: uppercase;
    color: #000014;
    margin: 20px 0;
}

.overlay-content a:hover, .overlay a:focus {
    color: #FDFDFF;
  }

/*Footer Mobil*/
.mobile-footer{
    display: flex;
    background-color: #35AC87;
    font-size: 0.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
}

#newsletter{
    margin: 1em;
    align-self: flex-start;
    justify-self: flex-start;
}

.newsletter-heading{
    font-weight: bold;
}

.inputs {
    margin-bottom: 0.75em;
}
input[type=text]{
    width: 100%;
    margin-bottom: 0.25em;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #FDFDFF;
    padding-top: 0.25em;
}
.inputs input::placeholder{
    padding-left: 0.4em;
}

.submit-button input[type="submit"]{
    width: 33%;
    border:none;
    background-color: #174463;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #FDFDFF;
}

#socialmedia{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 1em;
    justify-content: center;
}

#facebook{
    background: transparent;
    border: none;
    color: #FDFDFF;
    cursor: pointer;
    padding-bottom: 0.5em;
}

.fa-facebook{
    font-size: 2.25em;
}

#instagram{
    background: transparent;
    border: none;
    color: #FDFDFF;
    cursor: pointer;
}

.fa-instagram{
    font-size: 2.25em;
}

.copyright{
    align-self: flex-end;
    margin: 0.5em;
    margin-left: 1em;
    width: 100%;
}

/*index.html*/
#index{
    background-image: url("Images/hero-169.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#index main{
    justify-self: center;
    align-self: start;
}

#index footer{
    justify-self: center;
    align-self: end;
}

/*about.html*/
#about{
    background-color: #E9511F;
    margin: 0;
}

#portrait{
    width: 100%;
}

/* contact.html*/
#contact{
    margin: 0;
    background-color: #E9511F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

#contact main{
    align-self: start;
    justify-self: start;
}

input[type=email]{
    width: 100%;
    margin-bottom: 0.25em;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #FDFDFF;
    padding-top: 0.25em;
}

#contact-form input[type=submit]{
    width: 33%;
    border:none;
    background-color: #174463;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #FDFDFF; 
    margin-bottom: 8rem;
}

#contact-form label{
    margin-bottom: 0.25rem;
}

#contact-form input{
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

#fmessage{
    height: 12rem;
}

#fmessage::placeholder{
    transform: translateY(-5.25rem);
}
